<div class="margin-comp">
    <h3>Lista</h3>

    <table class="table">
        <thead>
            <tr>
                <th>Ordem</th>
                <th>Instância</th>
                <th>Data</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1-ABC123</td>
                <td>1234567890</td>
                <td>11/05/2018 16:30:20</td>
                <td>

                </td>
            </tr>
            <tr>
                <td>1-BCA321</td>
                <td>0987654321</td>
                <td>11/05/2018 16:35:00</td>
                <td>

                </td>
            </tr>
            <tr>
                <td>1-CAB213</td>
                <td>6549873210</td>
                <td>11/05/2018 16:45:00</td>
                <td>

                </td>
            </tr>
        </tbody>
    </table>

</div>